<h1>Shopping List Manager</h1>
<div class="container">
  <div class="row justify-content-center">
    <!-- to limit search bar size, I set it to md-7, meaning when screen size is 768px or above,the column below will occupy 7/12 of the screen -->
    <div class="col-md-7">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Enter wished items"  id="txtSearch" [(ngModel)]="item">

        <button type="button" class="btn check" (click)="onClick()">
          <i class="bi bi-check-lg"></i>
        </button>

      </div>
  </div>
  </div>
</div>
<br>

<div class="container">
  <ul class="list-group">
    <li *ngFor="let item of items" class="list-group-item">
        {{item.name}}
    </li>
  </ul>
</div>
<!-- <div class="container">
  <ul >
    <li *ngFor="let item of items" >
        {{ item }}
    </li>
  </ul>
</div> -->
